body {
  margin: 0px;
  background-color: black;
  font-family: Helvetica Neue, Helvetica;
  color: white;
}

body a {
    color: orange;
    text-decoration: none;
}

body a:hover {
      color: yellow;
}

body .content {
    background: url("ginobona.png") no-repeat top right;
    height: 900px;
    width: 1720px;
    margin: 0 0 0 auto;
    padding-left: 50px;
}

body .content h1 {
      font-weight: normal;
      padding: 25px 0px 0px;
      margin: 0px;
      font-size: 130px;
}

body .content p {
      font-size: 17px;
      margin: 5px 0px 10px;
      padding: 0px;
}


